.boton-formulario {
    padding: 24px 32px;
    margin: 15px 0px;
    color: white;
    background: #6278F7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}